* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.conteiner {
    width: 100%;
    width: auto;
    text-align: center;
}

ul>li {
    margin-top: 5rem;
}

a {
    font-size: 10rem;
    color: aliceblue;
    text-decoration: none;
}

@media (max-width:900px) {
    a {
        font-size: 4rem;
    }
}