* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ffff;
}

.general-conteiner {
  width: 100%;
  height: auto;
}

table,
th,
td {
  border: solid 1px #ffff;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}

.inputStyles {
  color: #ffff;
  background-color: black;
}

#back-to-menu {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0px 0px 40px 40px;
}

#back-to-menu>a>img {
  width: 4rem;
}

/*---------------------------------------RESPONSIVE---------------------------------------*/
@media (orientation: landscape) {}