* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ffff;
}

.general-conteiner {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

table,
th,
td {
  border: solid 1px #ffff;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}

.buttons {
  width: 100%;
}

.inputStyles {
  color: #ffff;
  background-color: black;
}

/*---------------------------------------RESPONSIVE---------------------------------------*/
@media (orientation: landscape) {
}
